<!--START HEADER LAYOUT-->

<div id="fh5co-aside" style="background-image: url(/words/images/image_1.jpg)">
  <div class="overlay"></div>
  <nav role="navigation">
    <ul>
      <li><a href="/words/"><i class="icon-home"></i></a></li>
    </ul>
  </nav>
  <div class="featured">
    <span>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</span>
    <h2>{{ page.title }}</h2>

  </div>
</div>

<!--END HEADER LAYOUT-->